body {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    grid-area: 2 / 1 / 3 / 3;
    background-color: #FFD700;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}